{% extends 'master.html' %}

{% block body %}
<header class="site-header" id="header"  style="margin-left: 44%;">
    <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
</header>

<div class="main-content" style="margin-bottom: 13%;">
    <h1 class="fa fa-check main-content__checkmark" id="checkmark"  style="margin-left: 50%;"></h1>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Thank you for the order. You will receive a confirmation email shortly</p>
        <hr>
        <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
    </div>
</div>


{% endblock %}